wifi_fallback_password: ""

wifi_ssid_garten: ""
wifi_password_garten: ""

mqtt_broker_garten: ""
mqtt_user_garten: ""
mqtt_password_garten: ""

wifi_ssid_home: ""
wifi_password_home: ""

mqtt_broker_home: ""
mqtt_user_home: ""
mqtt_password_home: ""

grube_static_ip: ""
grube_gateway: ""
grube_subnet: ""
grube_dns1: ""